.BackgroundDogs {
  background-image: url("https://drive.google.com/uc?export=view&id=1o7N5OGN3D-_iVztnFxbyrSL0crZzuMta");
  background-position: center;
  background-size: "cover";
  height: 125vh;
  font-size: 50px;
  background-repeat: no-repeat;
}
