.Containercreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.CreateCard {
  margin-top: 25px;
  border-radius: 20px;
  height: 560px;
  width: 1000px;
  background-color: white;
  border-style: groove;
  border-color: black;
  border-width: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.createDog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
}

.topContainer h1 {
  margin-left: 80px;
}

.createDog form {
  padding-top: 30px;
}
.CreateCard button {
  /* position: absolute; */
  top: 45px;
  left: 285px;
  background-color: #ffea27;
  border: none;
  border-radius: 15px;
  color: black;
  padding: 10px 25px;
  justify-content: center;
  font-size: 25px;
  font-family: Calibri;
  margin: auto;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
}
.inputNum {
  padding: 6px 12px;
  margin: 4px 0;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #ffea27;
  border-radius: 4px;
  width: 60px;
}
.inputName {
  padding: 6px 12px;
  margin: 4px 0;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px solid #ffea27;
  border-radius: 4px;
}

.inputNum:focus .inputName:focus {
  border: 3px solid black;
}

.createDog label {
  font-size: 18px;
  font-weight: normal;
  margin-right: 20px;
  margin-left: 20px;
}

.createDog select {
  width: 30%;
  padding: 6px 12px;
  border-color: #ffea27;
  border-radius: 4px;
  background-color: white;
}
.DogPic {
  height: 500px;
  object-fit: scale-down;
}

.BtnCreate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.CreateButton {
  bottom: 110px;
  left: 450px;
  background-color: #ffea27;
  border-radius: 10px;
  color: black;
  padding: 10px 35px;
  justify-content: center;
  font-size: 40px;
  font-family: Calibri;
  margin: auto;
  margin-left: 25px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
}
.CreateButton:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.lifespan {
  display: inline;
}

.error {
  position: absolute;
  top: 90px;
  left: 280px;
  color: #ab3ed8;
  font-weight: bold;
  margin-left: 10px;
}
.createDog h1 {
  /* position: absolute; */
  font-size: 40px;
  top: 15px;
  left: 550px;
}

.createDog ul {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
  display: flex;
  justify-content: flex-start;
  position: absolute;
}

.createDog li {
  padding-right: 10px;
  list-style: none;
}

.createDog span {
  font-weight: bold;
  color: #ab3ed8;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .CreateCard {
    width: 750px;
    height: 600px;
  }
  .DogPic {
    bottom: -100px;
    right: -50px;
    width: 400px;
    transform: scaleX(-1);
    transform: rotate(270deg);
    padding-right: 5px;
  }
}

@media screen and (max-width: 750px) {
  .createDog {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .DogPic {
    position: fixed;
    bottom: -200px;
    right: -100px;
    height: 500px;
    width: 300px;
    transform: scaleX(-1);
  }
  .createDog li {
    padding-right: 10px;
  }
  .createDog ul {
    padding-left: 0px;
  }

  .error {
    position: absolute;
    top: 140px;
    left: 30px;
    width: 85vw;
  }

  .CreateCard {
    margin-top: 25px;
    border-radius: 20px;
    height: 90vh;
    width: 90vw;
  }
  .topContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
  }
  .topContainer h1 {
    margin-left: 0px;
    font-size: x-large;
  }
  .createDog label {
    font-size: 15px;
  }

  .inputNum {
    padding: 2px 5px;
  }

  .inputName {
    padding: 2px 5px;
  }

  .createDog select {
    width: 40%;
    padding: 2px 5px;
  }
  .CreateButton {
    margin-left: 5px;
    margin-top: 55px;
    font-size: x-large;
  }
}
