.ErrorContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ErrorContainer img {
  width: 80vw;
  height: auto;
}

@media screen and (max-width: 800px) {
  .ErrorContainer img {
    width: 90vw;
    height: auto;
  }
}
